<div>
  <h1 style="text-align: center">Kin OCR</h1>
</div>
<div class="container">
  <h2 style="line-height: 0">Upload OCR File</h2>
  <app-file-uploader
    title="Drop your file here, or browse."
    [acceptedTypes]="['.csv']"
    [fileUploadHandler]="handleFileUpload"
  ></app-file-uploader>
  <app-alert></app-alert>
  <app-policy-table
    [tableData]="policies"
    style="width: 100%"
  ></app-policy-table>
  <div class="button-group">
    <app-button
      [disabled]="submitButtonDisabled"
      [variant]="'primary'"
      [text]="'Submit Policy Numbers'"
      [onClick]="submitPolicyNumbers"
    ></app-button>
    <app-button
      [disabled]="submitButtonDisabled"
      [variant]="'secondary'"
      [text]="'Clear Data'"
      [onClick]="clearPolicyNumbers"
    ></app-button>
  </div>
</div>
