@import "../scss/variables.scss";

.container {
  // layout
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
  width: 100%;

  &-title {
    // layout
    text-align: center;

    // style
    color: $--color-neutral-black;
    font-size: clamp(1.75rem, 0.68vw + 1.61rem, 2.25rem);
    font-weight: $--font-weight-400;
    line-height: 1.25rem;
  }
}

.file-upload {
  // layout
  padding: $--space-200 $--space-300;

  // style
  background-color: #167c80;
  border: 1px solid #167c80;
  border-radius: 5px;
  color: white;
  font-size: $--font-size-100;

  &:hover {
    // style
    background-color: #126568;
    cursor: pointer;
  }

  &-input {
    // layout
    display: none;
  }

  &-wrapper {
    // layout
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.primary-button {
  // layout

  // style
  background-color: $--color-secondary;
  border: none;
  border-radius: $--border-radius-200;
  color: $--color-neutral-white;
  font-size: $--font-size-100;
  padding: $--space-200 $--space-300;

  &:hover {
    // style
    background-color: #126568;
    cursor: pointer;
  }
}

.header {
  // layout
  align-items: start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
  width: 100%;
}

.table {
  // layout
  width: 100%;
  overflow: auto;

  // style
  border-collapse: collapse;

  thead {
    // layout
    text-align: left;

    // style
    background-color: $--color-neutral-200;

    tr th {
      // layout
      padding: $--space-200 $--space-300;
      position: sticky;
      top: 0;
      z-index: 2;

      // style
      background-color: $--color-neutral-200;
      border-top: 1px solid $--color-neutral-400;
      border-bottom: 1px solid $--color-neutral-400;
      color: var(--color-neutral-black);
      font-size: $--font-size-50;
      font-weight: $--font-weight-black;
      line-height: var(--line-height-200);
      scroll-snap-align: start;
    }
  }

  tbody {
    tr {
      // layout
      text-align: left;
      vertical-align: middle;

      // style
      background: inherit;

      td {
        // layout
        padding: $--space-100 $--space-300;

        // style
        border-bottom: 1px solid $--color-neutral-300;
        font-size: $--font-size-50;
        scroll-snap-align: start;
      }

      &.valid {
        background-color: $--color-success-100;
        &:hover {
          // style
          background-color: $--color-primary-100;
          cursor: pointer;
        }
      }

      &.invalid {
        background-color: $--color-warning-100;
        &:hover {
          // style
          background-color: $--color-primary-100;
          cursor: pointer;
        }
      }
    }
  }

  &-wrapper {
    // layout
    height: 406px;
    width: 100%;
    overflow: auto;
  }
}
