<div class="header">
  <h1 style="text-align: center">Kin OCR</h1>
</div>
<div class="container">
  <h2 class="container-title">Upload OCR File</h2>
  <div class="file-upload-wrapper">
    <label class="file-upload" for="file-upload" aria-label="Upload OCR File">
      File Upload
    </label>
    <input
      aria-label="Select file to upload"
      aria-hidden="true"
      class="file-upload-input"
      id="file-upload"
      name="file-upload"
      type="file"
      (change)="onFileSelected($event)"
    />
  </div>
</div>
<div class="container">
  <h2 aria-label="Policy table title" class="container-title">
    Policy Numbers
  </h2>
  <div class="table-wrapper">
    <table
      aria-label="Table with Policy Numbers"
      class="table"
      *ngIf="policies.length > 0; else noData"
    >
      <thead class="table-header" aria-label="Header for Policy data">
        <tr>
          <th></th>
          <th>Policy #</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="table-row"
          *ngFor="let policy of policies; let i = index"
          [class.valid]="policy.isValid === 'valid'"
          [class.invalid]="policy.isValid === 'error'"
        >
          <td class="table-row-index-cell">{{ i + 1 }}</td>
          <td class="table-row-policy-cell">{{ policy.policyNumber }}</td>
          <td class="table-row-policy-cell">{{ policy.isValid }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noData>
      <div class="no-data">
        <p>No policy numbers available.</p>
      </div>
    </ng-template>
  </div>
</div>
