@import "../../scss/variables.scss";

.button {
  // layout
  padding: $--space-200 $--space-300;

  // style
  border-radius: $--border-radius-200;
  font-size: $--font-size-100;
  font-weight: $--font-weight-500;
  width: 100%;

  &__primary {
    // style
    background-color: $--color-secondary;
    border: none;
    color: $--color-neutral-white;

    &:hover {
      // style
      background-color: #126568;
      cursor: pointer;
    }

    &:disabled {
      // style
      background-color: $--color-neutral-300;
      color: $--color-neutral-black;
      cursor: not-allowed;
    }
  }

  &__secondary {
    background-color: $--color-neutral-white;
    border: 1px solid $--color-secondary;
    color: $--color-secondary;

    &:hover {
      // style
      background-color: $--color-secondary-100;
      cursor: pointer;
    }

    &:disabled {
      // style
      background-color: $--color-neutral-300;
      border: none;
      color: $--color-neutral-black;
      cursor: not-allowed;
    }
  }
}
