// Padding
$--space-100: 8px;
$--space-200: 12px;
$--space-300: 16px;
$--space-400: 24px;
$--space-500: 32px;
$--space-600: 48px;

// Font Sizes
$--font-size-0: 0.75rem;
$--font-size-50: 0.875rem;
$--font-size-100: 1rem;

// Font Weight
$--font-weight-400: 400;
$--font-weight-500: 500;
$--font-weight-black: 700;

// Colors
$--color-primary: #ffc857;
$--color-primary-100: #fbf8f3;
$--color-primary-200: #fae7b8;
$--color-primary-400: $--color-primary;
$--color-primary-500: #e5ae25;
$--color-primary-900: #7e6115;
$--color-secondary: #167c80;
$--color-secondary-100: #e8f2f3;
$--color-secondary-200: #d0e0e1;
$--color-secondary-300: #3193ad;
$--color-secondary-400: $--color-secondary;
$--color-secondary-500: #126568;
$--color-secondary-600: #007055;
$--color-secondary-700: #004a38;
$--color-secondary-800: #545c52;
$--color-warning: #b11030;
$--color-warning-100: #fae6e8;
$--color-warning-200: #f4cace;
$--color-warning-400: $--color-warning;
$--color-warning-600: #68000d;
$--color-success: #2f943b;
$--color-success-100: #e6fae8;
$--color-success-400: $--color-success;
$--color-success-600: #00600c;
$--color-neutral-white: #ffffff;
$--color-neutral-black: #242221;
$--color-neutral-100: #fafafa;
$--color-neutral-200: #f7f7f7;
$--color-neutral-300: #eeeeee;
$--color-neutral-400: #dbdddb;
$--color-neutral-500: #bdbdbd;
$--color-neutral-600: #757575;
$--color-neutral-700: #616161;
$--color-neutral-800: #3e3e3e;

// Border
$--border-radius-0: 0;
$--border-radius-100: 2px;
$--border-radius-200: 4px;
$--border-radius-300: 8px;
$--border-radius-400: 16px;
$--border-radius-full: 50%;

// Line Height
$--line-height-100: 1.125;
$--line-height-200: 1.25;
$--line-height-300: 1.625;
