// Padding
$--space-100: 8px;
$--space-200: 12px;
$--space-300: 16px;

// Font Sizes
$--font-size-50: 0.875rem;
$--font-size-100: 1rem;

// Font Weight
$--font-weight-400: 400;
$--font-weight-black: 700;

// Colors
$--color-neutral-200: #f7f7f7;
$--color-neutral-300: #eeeeee;
$--color-neutral-400: #dbdddb;
$--color-neutral-black: #242221;
$--color-success-100: #e6fae8;
$--color-warning-100: #fae6e8;

$--color-primary-100: #fbf8f3;
$--color-secondary: #167c80;
$--color-neutral-white: #ffffff;

$--border-radius-200: 4px;
